body {
    font-family: 'Roboto', sans-serif;
    background: #F0F1F2 !important;
    height: 100vh;
}

#menu {
    width: 35px;
    height: 35px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.titles {
    color: #313640;
    font-family: 'Roboto Mono', monospace;
    font-size: 24px;
    margin-left: 10%;
    width: 100%;
}

.table {
    width: 800px !important;
}

.table thead {
    background-color: #000;
}

.table thead tr th {
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
}

.actions {
    position: fixed;
    bottom: 15%;
    margin-left: 10%;
    width: 150px;
    height: 40px;
    background: #8DCBF2;
    border: 1px solid #72bae8;
    box-sizing: border-box;
    border-radius: 20px;
}

#jobs tr {
    background: #fff;
}

#jobs tr button.btn-update {
    background-image:  url("../../assets/img/lapis.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    border: 0;
}

#jobs tr button.btn-delete {
    background-image:  url("../../assets/img/deletar-lixeira.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    border: 0;
}